// Variables and Mixins
@import 'variables.less';
@import 'mixins.less';

// Reset and Global Styles
@import 'reset.less';
@import 'global.less';

// Reusable components
@import 'navigation.less';
@import 'footer.less';

// Page Specific
@import 'home-page.less';

p {
    display         : flex;
    transform-origin: 0 0;
    transition      : transform .6s;
}

img{
    display         : flex;
    transform-origin: 0 0;
    transition      : transform .6s;
}

.large {
    transform: scale(1.3);
}

.display{
    display: block;
}